build/*
bin/*
.vscode/
.DS_Store
.o
output
.err
.tags
tmp
testOutput
*.swp
*/__pycache__
*.png
video
*.pyc
video
*.mp4
.ipynb_checkpoints
ac4dc
ac4dc_*
MakefileDebug
debug_ac4dc.out
doxygen/*
slurm*
load_modules.sh
*.slurm
Makefile_S
scripts/scattering/results*
scripts/scattering/reflections*
input/debug/Debug.mol
scripts/scattering/scratchpad.ipynb
MakefileTest
my_file_test.out
test_build/
test_src/
<ipython*
__pycache__
*.xpdb
*input/batch_*
core
*.svg
scripts/scattering/R_plots
*.pickle
scripts/scattering/dmg_data
valgrind-out*
.cache
